<div class="center jumbotron">
<h1>Services Home</h1>

<% if user_signed_in? %>
  <% if current_user.addresses.count == 0 %>
    To start ordering cleaning services you need to register an address
    
    <%=render 'shared/address_form' %>
    
  <%else%>

      <%= link_to "My Profile", current_user, :class => 'navbar-link'  %> </br>
      <%= link_to "My Addresses", addresses_path, :class => 'navbar-link'  %> </br>
      <%= link_to "Edit Account", edit_user_registration_path,  :class => 'navbar-link' %></br>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </br>
      <div class="row">
        <aside class="col-md-4">
          <section class="order_form">
            <%= render 'shared/order_form' %>
          </section>
        </aside>
      </div>
  <%end%>
  
<%elsif admin_signed_in?%>
      <%= link_to "My Profile", '#', :class => 'navbar-link'  %> </br>
      <%= link_to "Edit Account", edit_admin_registration_path,  :class => 'navbar-link' %></br>
      <%= link_to "askdt", '#', method: :delete, :class => 'navbar-link'  %> </br>
<%else%>

<%= link_to "Sign in as user", new_user_registration_path, :class => 'navbar-link'  %></br>
<%= link_to "Log in as user", new_user_session_path, :class => 'navbar-link'  %> </br>
<%= link_to "Sign in as maid", new_maid_registration_path, :class => 'navbar-link'  %></br>
<%= link_to "Log in as maid", new_maid_session_path, :class => 'navbar-link'  %> </br>
<%= link_to "Log in as admin", new_admin_session_path, :class => 'navbar-link'  %> 


<%end%>
</div>
