<li id="user-<%= user.id %>">
  Name: <span class="name"><%= link_to user.name, user %></span> |
  Email: <span><%= user.email %></span> |
  User_id: <span><%= user.id %></span> |
  Has requested <span><%= user.services.count %></span> services and has paid <span><%= user.services.where("paid = ?", true).count * 50000 %></span>
  <span>
  </span>
    <%= link_to "eliminate", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
  </span>
</li>
