<% if current_user.orders.last.nil? %>
  <%= form_with(model: Order.new, local: true) do |f| %>
    <%= f.submit "Start a New Order", class: "btn btn-primary" %>
  <% end %>
<% elsif current_user.orders.last.paid == true %>
  <%= form_with(model: Order.new, local: true) do |f| %>
    <%= f.submit "Start a New Order", class: "btn btn-primary" %>
  <% end %>
  <% else %>
  <a href="/orders/index" class="btn btn-info" role="button">Keep Ordering</a>
  <%end%>
    <%= form_with(model: Order.new, local: true) do |f| %>
    <%= f.submit "Start a New Order", class: "btn btn-primary" %>
  <% end %>