<%= form_with(model: Service.new, local: true) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
   
  <div class="field">
    <%= f.label "Enter the address where you want the service" %><br />
    <%= f.collection_select(:addresss, current_user.addresses.all, :id, :location) %>
  </div> </br>
  
  
  <div class="field">
    <%= f.label "Choose the date for your service"%></br>
    If our workers are unavilable to go that date we'll offer you different dates
    <%= f.date_field :meeting_time, class: 'form-control' %></br>
  </div>
    
  <%= f.submit "Post", class: "btn btn-primary" %>
  
<% end %>
