<li id="order-<%= order.id %>">
  Order from the user with user_id:
  <span class="name"><%= order.user_id %></span>
  for <span><%= order.services.count %></span> cleaning services for a total cost of 
  <span class="precio"><%= order.services.count * 50000 %></span> |
  <span>
    <% if order.paid==true %>
    order has been payed | 
      <%= form_for order do |f| %>
        <%= f.hidden_field :paid, value: false %>
        <%= f.submit "Mark as not paid", class: "btn" %>
      <% end %>
    <% else%>
    order hasn't been paid | 
    <% end %>
        <%= link_to "Cancel Order", order, method: :delete,
                                    data: { confirm: "You sure?" } %>


</li>
